<!DOCTYPE html>
<html lang="en">
    <html xmlns="http://www.thymeleaf.org"></html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="style.css" />
        <script src="script.js" defer></script>
    </head>
    <body>
        <h1>!ToDoOrNotDoTo?</h1>
        <main>
            <h2>Lägg till användare</h2>
            <form th:action="@{/addUser}" method="post" th:object="${user}">
                <div>
                    <input type="text" id="firstName" name="firstName" required th:field="*{firstName}" placeholder="Förnamn" />
                </div>
                <button type="submit">Lägg till användare</button>
            </form>

            <div>
                <h3>Användare</h3>
                <ul>
                    <li th:each="user : ${userList}">
                        <a th:href="@{'/userList/' + ${user.firstName}}" th:text="${user.firstName}"></a>

                        <button><a th:href="@{'/remove-user/' + ${user.firstName}}">Ta bort</a></button>

                
                        <form th:action="@{'/change-user/' + ${user.firstName}}" method="post" th:object="${user}">
                            <div>
                                <label for="firstName">edit</label>
                                <input type="text" id="firstName" name="firstName" required th:field="*{firstName}" />
                            </div>
                            <button type="submit">ändra användare!</button>
                        </form>

                        <p><span th:text="${user.getNewFirstName}"></span></p>
                    </li>
                </ul>
            </div>

            <button><a th:href="@{'/clear-user/' + ${user.firstName}}">Clear</a></button>
            <br />

            <button><a href="/addUser">Home</a></button>

        </main>
        <footer>
            <div class="owners">
                <p>©ToDoOrNotTodo applikation</p>
            </div>
            <div class="groupnames">
                <p>Roberto, Cihan, Emil, Chawan, Dennis</p>
            </div>
        </footer>
    </body>
</html>
