<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.thymeleaf.org"></html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/style.css" />
    <script src="script.js" defer></script>

    <title>Document</title>
</head>
<body>
    <h1>Ändra listnamn</h1>


    

    <a href="/addUser">Tillbaka</a>

        <footer>
        <div class=owners>
            <p>©ToDoOrNotTodo applikation</p>
        </div>

        <div class=groupnames>
            <p>Roberto, Cihan, Emil, Chawan, Dennis</p>
        </div>
    </footer>
</body>
</html>