<!DOCTYPE html>
<html lang="en">
    <html xmlns="http://www.thymeleaf.org"></html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="stylesheet" href="/style.css" />
        <script src="script.js" defer></script>

        <title>Document</title>
    </head>
    <body>
        <h1>Ändra användare</h1>
        <main>
            <!-- 
    <form th:action="@{/change-user}" method="post" th:object="${userChange}">

        <div>
            <label for="firstName">Användare</label>
            <input type="text" name="firstName" id="firstName" th:field="*{firstName}">
        </div>

        <button type="submit">Spara ändring</button>

    </form> -->

            <form th:action="@{/change-user}" method="post" th:object="${userChange}">
                <div>
                    <label for="newFirstName">Användare</label>

                    <input type="text" name="newFirstName" id="newFirstName" th:field="*{newFirstName}" />

                    <!-- <input type="text" name="firstName" id="firstName" th:field="*{newFirstName}"> -->
                    <!-- <input type="text" id="newFirstName" name="newFirstName" th:value="${user.newFirstName}"> -->
                </div>

                <button type="submit">Spara ändring</button>
            </form>

            <a href="/addUser">Tillbaka</a>

            <footer>
                <div class="owners">
                    <p>©ToDoOrNotTodo applikation</p>
                </div>

                <div class="groupnames">
                    <p>Roberto, Cihan, Emil, Chawan, Dennis</p>
                </div>
            </footer>
        </main>
    </body>
</html>
