<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Todo Details</title>

        <link rel="stylesheet" href="/style.css" />
        <script src="/script.js" defer></script>
    </head>
    <body>
        <h1>Todos</h1>
        <main>
            <h2>Förnamn: <span th:text="${user.firstName}"></span></h2>
            <h3>Lista: <span th:text="${listName}"></span></h3>

            <form th:action="@{'/tasks/addTask/' + ${user.firstName} + '/' + ${listIndex}}" method="post">
                <input type="hidden" id="firstName" name="firstName" th:value="${user.firstName}" />
                <input type="hidden" id="listIndex" name="listIndex" th:value="${listIndex}" />

                <label for="description">Todo:</label>
                <input type="text" id="description" name="description" placeholder="Skriv din uppgift här" required />
                <label for="deadline">Deadline:</label>
                <input type="date" id="deadline" name="deadline" required />

                <button type="submit">Lägg till ny uppgift</button>
            </form>

            <div class="tasks" th:each="task, taskIndex : ${tasks}">
                <div class="task-item">
                    <input class="done-button" type="checkbox" />
                    <p class="task-description" th:text="${task}"></p>

                    <form th:action="@{'/tasks/removeTask/' + ${user.firstName} + '/' + ${listIndex} + '/' + ${taskIndex.index}}" method="post">
                        <button type="submit">Ta bort</button>
                    </form>
                </div>
            </div>

            <button><a href="/addUser">Home</a></button>
        </main>
        <footer>
            <div class="owners">
                <p>©ToDoOrNotTodo applikation</p>
            </div>
            <div class="groupnames">
                <p>Roberto, Cihan, Emil, Chawan, Dennis</p>
            </div>
        </footer>
    </body>
</html>
