<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org" lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Todo Details</title>

        <link rel="stylesheet" href="/style.css" />

        <script src="/script.js" defer></script>
    </head>
    <body>
        <h1>Todo Details</h1>
        <main>
            <p>Förnamn: <span th:text="${user.firstName}"></span></p>
            <p>Lista: <span th:text="${listName}"></span></p>
            <form th:action="@{/tasks/addTask}" method="post">
                <label for="description">Todo:</label>
                <input type="text" id="description" name="description" placeholder="Skriv din uppgift här" required />
                <label for="deadline">Deadline:</label>
                <input type="date" id="deadline" name="deadline" required />
                <button type="submit">Lägg till ny uppgift</button>
            </form>

            <div class="tasks" th:each="task : ${tasks}">
                <p class="task" th:text="${task}"></p>

                <form th:action="@{/tasks/removeTask}" method="post">
                    <input type="hidden" th:name="taskId" th:value="${taskStat.index}" />
                    <button type="submit">Ta bort</button>
                </form>
            </div>
            <a href="/addUser">Home</a>
        </main>
        <footer>
            <div class="owners">
                <p>©ToDoOrNotTodo applikation</p>
            </div>
            <div class="groupnames">
                <p>Roberto, Cihan, Emil, Chawan, Dennis</p>
            </div>
        </footer>
    </body>
</html>
