<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org" lang="en">
    <head> </head>

    <link rel="stylesheet" href="/style.css" />
    <script src="script.js" defer></script>

    <body>
        <h1>!ToDoOrNotDoTo Lista!</h1>
        <main>
            <h2>Lägg till lista</h2>
            <form th:action="@{'/addList/' + ${user.firstName}}" method="post">
                <input type="text" name="newListName" placeholder="Skriv listnamn" required />
                <input type="submit" value="Lägg till lista" />
            </form>
            <h3>Listor</h3>
            <ul th:each="list, listIndex : ${user.lists}">
                <li>
                    <div style="display: flex; align-items: center">
                        <a th:href="@{'/todo/' + ${user.firstName} + '/' + ${listIndex.index}}">
                            <p th:text="${list.name}"></p>
                        </a>
                        <button style="margin-left: 30px">
                            <a th:href="@{'/remove-list/' + ${user.firstName} + '/' + ${listIndex.index}}">Ta bort</a>
                        </button>
                    </div>
                </li>
            </ul>
            <button><a href="/addUser">Home</a></button>
        </main>
        <footer>
            <div class="owners">
                <p>©ToDoOrNotTodo applikation</p>
            </div>
            <div class="groupnames">
                <p>Roberto, Cihan, Emil, Chawan, Dennis</p>
            </div>
        </footer>
    </body>
</html>
